*~
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.back.aip
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
perl/perl-x64-cache
perl/perl-x64-SetupFiles
perl/perl-x86-cache
perl/perl-x86-SetupFiles
__pycache__
