repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--exclude, SC1017]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    -   id: mypy
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.4.7'
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
